<!doctype html>
<html>
<title>{% block title %}{% endblock %} - WebSka</title>
    <body>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script src="{{ url_for('static', filename='main_ang.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <nav>
          <h1>WebSka</h1>
          <ul>
            {% if g.user %}
              <li><span>{{ g.user['username'] }}</span>
              <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
            {% else %}
              <li><a href="{{ url_for('auth.register') }}">Register</a>
              <li><a href="{{ url_for('auth.login') }}">Log In</a>
            {% endif %}
          </ul>

        </nav>
        <section class="content">
          <header>
            {% block header %}{% endblock %}
          </header>
          {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
          {% endfor %}
          {% block content %}{% endblock %}
        </section>

        <section class="content1">
            {% block content1 %}{% endblock %}
        </section>
    </body>
</html>
